@import "tailwindcss";

@font-face {
  font-family: 'Geist';
  src: url('https://cdn.jsdelivr.net/npm/geist@1.3.0/dist/fonts/geist-sans/Geist-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-geist: 'Geist', sans-serif;
  --color-header-bg: #00151C;
  --color-btn-primary: #00B1F1;
}